html, body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

textarea, input{
  resize: none;
  font-family: 'Courier New', Courier, monospace;

  &:focus {
    outline: none;
    resize: none;
  }
}
